* {
    margin: 0;
}

::root {
    colorbasic: #1d1d1d;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #111111;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#svg {
    opacity: 50%;
}

.navbar {
    background-image: url("https://code.visualstudio.com/assets/docs/languages/go/completion-signature-help.gif");
    background-position: center;
    background-size: cover;
    height: 105%;
    padding: 118px;
    box-shadow: #30363d 0 1px 1.3px, #30363d 0 0 0 1.3px;
}

.left-navbar {
    color: #fff;
    margin: -260px;
    padding: 130px;
    display: inline-block;
}

.left-navbar h1 {
    color: #fff;
    text-align: center;
    line-height: -3px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.left-navbar p {
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.left-navbar img {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.left-navbar a {
    color: #2b6fb3;
    text-decoration: none;
    font-size: 17px;
}

.left-navbar a:hover {
    color: #2f6aa4;
}

.left-navbar button {
    color: #fff;
    cursor: pointer;
    background-color: #222222;
    border: 3px;
    padding: 10px 84px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 15px;
    box-shadow: #121212 0 1px 1px, #121212 0 0 0 1px;
}

.left-navbar button:hover {
    transform: scale(1.02);
    border-radius: 5px;
}

.reason-console {
    padding: 80px;
}

.reason-console h2 {
    color: #fff;
    text-align: left;
    padding: 10px 500px;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
}

.console img {
    border-radius: 20%;
    transform: rotate(10deg);
    opacity: 40%;
    margin-right: -600px;
    margin-top: -100px;
    max-width: 100%;
    padding: 10px;
}

.footer-connect {
    padding: 120px;
    font-family: 'Poppins', sans-serif;
}

.footer-connect h1 {
    color: #fff;
    font-size: 30px;
}

.footer-connect p {
    color: rgba(255, 255, 255, 0.74);
    font-size: 20px;
}

.workspace {
    padding: 80px;
}

.workspace h1 {
    color: #2b6fb3;;
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
}

.workspace a {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
}

.workspace button {
    color: #fff;
    cursor: pointer;
    background-color: #222222;
    vertical-align: middle;
    border: 3px;
    padding: 30px 44px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 5px;
    box-shadow: #121212 0px 1px 1px, #121212 0px 0px 0px 1px;
}

.workspace-all img {
    vertical-align: middle;
    border-radius: 20%;
    transform: rotate(10deg);
    opacity: 40%;
    margin-left: 0;
    margin-right: -250px;
    margin-top: -120px;
    max-width: 100%;
    padding: 10px;
}

.demo {
    font-family: 'Raleway', sans-serif;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.dashboard {
    padding: 80px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}

.dashboard h1 {
    color: #fff;
    text-align: left;
    padding: 0px 400px;
    font-size: 40px;
}

.dashboard p {
    color: #ccc;
    text-align: center;
    padding: 0px 400px;
    margin-top: 100px;
    font-size: 30px;
}

.button {
    color: #222222;
    background-color: #bcf6c9;
    border: 3px;
    padding: 30px 84px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 40px;
    box-shadow: #bcf6c98a 0px 1px 1px, #bcf6c9b9 0px 0px 0px 1px;
}

.line-1 {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 450ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 985px;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

.wemakecode {
    padding: 120px;
}

.wemakecode h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 100px;
}

.wemakecode p {
    color: #ccccccc2;
    font-size: 32px;
    margin-bottom: 40px;
}


.lang {
    padding: 90px;
}

.lang h1 {
    color: #fff;
    font-size: 60px;
}

/* Anyasked - 2022 / 2023 */
